header .navbar-default {
    background: transparent !important;
    border-color: transparent !important;
}

.services {
    background: #EAEAEA;
    padding: 1em;
    margin: 2em 0 3em;
    li {
        display: block;
        position: relative;
        background-color: #16a085;
        color: #FFF;
        padding: 2em;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.5em;
    }
}

.ptb-140 {
    padding: 140px 0 40px;
}

.section-padding-features {
    padding: 110px 0 0;

    &.first {
        padding: 0px;
    }
}

.asf-header {
    background-color: #66BB6A !important;
    color: #e8e8e8;
    display: block;
    position: relative;
    padding: 40px 0;
    margin: 0 -75px;
    box-shadow: 0 2px 5px 0 rgba(28, 27, 27, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.1);

    h2 {
        color: #FFF;
        font-weight: bold;
    }

    &::before {
        content: " ";
        display: table;
    }

    &::after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #66BB6A;
        left: 50%;
        margin-left: -20px;
        bottom: -20px;
        // box-shadow: 0 2px 5px 0 rgba(28, 27, 27, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    }
    
}

.search-trigger {
    right: -10px;
    top: -5px;
    i {
        font-size: 28px;
    }
}

.search-btn {
    background-image: url("/duplex_fe/static/assets/img/banner/banner-6.jpg")
}

.asf-carousel-feature {
    background: transparent;
    top: -50px;
    // left: -100px;

    // img {
    //     width: 50%;
    // }
}

.flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

.circle-thumb .flex-control-thumbs li {
    width: 20px;
    float: none;
    margin: 0 5px;
}

.section-padding-features {
    padding: 50px 0 110px;
}

.page-title {
    background-color: #446E2C;
}

.breadcrumb>.active {
    color: #65eb37;
}

.breadcrumb li a {
    color: #fff !important;
}

.desc {
    p {
        text-align: justify;
    }
}

span.currency-symbol {
    color: lightgray;
}

.price sup {
    top: -30px;
    left: -5px;
    color: lightgrey;
}

.package-price .currency-code {
    color: lightgray;
}

.orange {
    color: #fa873b;
}

.btn-orange {
    background-color: #fa873b;
}

.search-btn.custom-top {
    margin-top: 12px;
}

.sticky-wrap-nav-bar {
    height: 30px;
    z-index: 999;
    position: fixed;
    width: 100%;
}

.ptb-40 {
    padding: 40px 0 45px;
}

.padding-top-170 {
    padding-top: 170px;
}

.breadcrumb-features {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.page-title .breadcrumb-features {
    position: absolute;
    background-color: transparent;
    width: auto;
    top: 50%;
    left: auto;
    right: 30px;
    margin: -10px 0 0 0;
    padding: 0;
    font-size: 12px;
}

.page-title .breadcrumb-features:before {
    display: none;
}

.page-title .breadcrumb-features li {
    letter-spacing: 1px;
}

.page-title[class*='dark-'] .breadcrumb-features>.active {
    color: #fff;
}

.page-title-bg {
    background-image: url(/duplex_fe/static/assets/img/corporate/page-cover.jpg);
    background-color: #446E2C;
    box-shadow: 0 2px 5px 0 rgba(28, 27, 27, 0.60), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
    .footer-intro p {
        width: 95%;
        margin: 0 auto 20px;
    }
}

.footer-logo {
    img {
        height: 45px;
    }
}

.bottom-20 {
    padding: 110px 0 20px;
}

.mb-0 {
    margin-bottom: 0px !important;
}