header .navbar-default {
    background: transparent !important;
    border-color: transparent !important;
}

.services {
    background: #EAEAEA;
    padding: 1em;
    margin: 2em 0 3em;
    li {
        display: block;
        position: relative;
        background-color: #16a085;
        color: #FFF;
        padding: 2em;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.5em;
    }
}

.ptb-140 {
    padding: 140px 0 40px;
}

.section-padding-features {
    padding: 110px 0 0;

    &.first {
        padding: 0px;
    }
}

.asf-header {
    background-color: #f5f5f5 !important;
    color: #777;
    display: block;
    position: relative;
    padding: 40px 0;
    margin: 0 -75px;

    h2 {
        color: #202020;
    }

    &::before {
        content: " ";
        display: table;
    }

    &::after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #f5f5f5;
        left: 50%;
        margin-left: -20px;
        bottom: -20px;
    }
    
}

.search-trigger {
    right: -10px;
    top: -5px;
    i {
        font-size: 28px;
    }
}

.search-btn {
    background-image: url("/duplex_fe/static/assets/img/banner/banner-6.jpg")
}

.asf-carousel-feature {
    background: transparent;
    top: -50px;
    // left: -100px;

    // img {
    //     width: 50%;
    // }
}

.flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

.circle-thumb .flex-control-thumbs li {
    width: 20px;
    float: none;
    margin: 0 5px;
}

.section-padding-features {
    padding: 50px 0 110px;
}

.page-title {
    background-color: #446E2C;
}

.breadcrumb>.active {
    color: #65eb37;
}

.breadcrumb li a {
    color: #fff !important;
}

.desc {
    p {
        text-align: justify;
    }
}

span.currency-symbol {
    color: lightgray;
}

.price sup {
    top: -30px;
    left: -5px;
    color: lightgrey;
}

.package-price .currency-code {
    color: lightgray;
}

.orange {
    color: #fa873b;
}

.btn-orange {
    background-color: #fa873b;
}